body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
}
h1 {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.homework-list {
  list-style: none;
  display: flex;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.homework-link {
  text-decoration: none;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}
.homework-link:hover,
.homework-link:focus {
  color: teal;
}
